body {
    background-color: #fcf9ea;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #000000;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    line-height: 1.3;
}

a {
    color: #000000;
    transition: all 300ms ease;
}

a:hover,
a:active {
    text-decoration: none;
    color: #cc0000;
}


.img-fluid {
    max-width: 100%;
}


.menu-toggle,
.menu-close {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 45px;
    height: 45px;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
    line-height: 45px;
    text-align: center;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    -webkit-transition: opacity 300ms cubic-bezier(.17, .67, .83, .67);
    -o-transition: opacity 300ms cubic-bezier(.17, .67, .83, .67);
    transition: opacity 300ms cubic-bezier(.17, .67, .83, .67);
}

.menu-active .overlay {
    opacity: 1;
    visibility: visible;
}

/*=======Header========*/
.site-header {
    background-color: #5e332f;
    color: #ffffff;
    line-height: 1;
}

.site-header > .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-logo img {
    width: auto;
    max-height: 100px;
}

.moto {
    flex: 0 0 250px;
    line-height: 1.3;
}

.moto h4 {
    font-size: 18px;
    margin-bottom: 0;
}

.eclass-form {
    flex: 0 1 290px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.eclass-form .eclass-logo {
    padding-right: 10px;
}

.eclass-form input {
    width: 100%;
    max-width: 190px;
    height: 32px;
    background-color: #ffffff;
    border:1px solid #ffffff;
    padding: 7px;
    margin-bottom: 5px;
    font-size: 15px;
    color: #333333;
    font-weight: 700;
    outline: 0;
}

.eclass-form input::placeholder {
    color: #333333;
}

.eclass-form input:focus {
    border: 1px solid #000000;
}

.eclass-form .input-group {
    position: relative;
    overflow: hidden;
}

.eclass-form button {
    position: absolute;
    top: 0;
    right: -10px;
    width: auto;
    height: 32px;
    display: inline-block;
    padding: 0 20px 0 14px;
    font-size: 14px;
    color: #ffffff;
    font-size: 15px;
    background-color: #000000;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    border: none;
    transform: skewX(-25deg);
}

.eclass-form button span {
    display: block;
    transform: skewX(25deg);
}

.eclass-form button:hover {
    background-color: #cc0000;
}

.site-main-nav {
    background-color: #ec212e;
}

.site-main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-main-nav .nav-ul li a {
    display: block;
    font-family: 'Lora', sans-serif;
    font-size: 1rem;
    background-color: #ec212e;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
}
.site-main-nav .nav-ul .has-dropdown,
.site-main-nav .nav-ul .has-dropdown>a {
    position: relative;
}

.site-main-nav .nav-ul .has-dropdown>a::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.site-main-nav .nav-ul .dropdown li a {
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
}

.site-main-nav .nav-ul .dropdown li:last-child > a {
    border-bottom: none;
}

.site-main-nav .dropdown li a:hover,
.site-main-nav .dropdown li a:active {
    background-color: #045992;
    color: #ffffff;
}


@media screen and (min-width:1200px) {

    .site-header > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .site-logo .menu-toggle,
    .site-main-nav .menu-close {
        display: none;
    }

    .site-main-nav .nav-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
    }

    .site-main-nav .nav-ul li a {
        font-size: 18px;
    }
    .site-main-nav .nav-ul .has-dropdown>a {
        padding-right: 30px;
    }
    .site-main-nav .dropdown {
        position: absolute;
        min-width: 180px;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
        transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
        z-index: 100;
    }
    .site-main-nav .nav-ul .has-dropdown>a::after {
        right: 10px;
    }
    .site-main-nav .has-dropdown .has-dropdown>a::after {
        -webkit-transform: translateY(-50%) rotate(-90deg);
        -ms-transform: translateY(-50%) rotate(-90deg);
        transform: translateY(-50%) rotate(-90deg);
    }
    .site-main-nav .dropdown .dropdown {
        left: 100%;
        top: 0;
    }
    .site-main-nav .has-dropdown:hover>.dropdown {
        opacity: 1;
        visibility: visible;
    }

    .site-main-nav  .nav-ul > li > a {
        border-left: 1px dashed #ffffff;
        padding: 5px 25px;
    }
}

@media screen and (max-width:1199px) {
    .site-header .moto,
    .site-header .eclass-form {
        display: none;
    }

    .site-logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .site-logo a {
        flex: 0 1 auto;
        padding-right: 15px;
    }
    
    .site-logo .menu-toggle {
       margin-left: auto;
    }
    .site-main-nav {
        position: fixed;
        width: 300px;
        height: 100%;
        top: 0;
        left: -330px;
        z-index: 1000;
        -webkit-transition: left 400ms cubic-bezier(.42, 0, .58, 1);
        -o-transition: left 400 cubic-bezier(.42, 0, .58, 1);
        -o-transition: left 400ms cubic-bezier(.42, 0, .58, 1);
        transition: left 400ms cubic-bezier(.42, 0, .58, 1);
    }
    .site-main-nav.show {
        left: 0;
    }
    .site-main-nav .menu-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
    .site-main-nav .container {
        padding: 0;
    }
    .site-main-nav .nav-ul {
        margin-top: 45px;
        border-top: 1px solid #e5f2fb69;
    }
    .site-main-nav .nav-ul li a {
        border-bottom: 1px solid #e5f2fb69;
    }
    .site-main-nav .has-dropdown>a::after {
        -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        -o-transition: transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease;
    }
    .site-main-nav .has-dropdown>a.active::after {
        -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
    }
    .site-main-nav .dropdown {
        display: none;
    }
    .site-main-nav .dropdown li a {
        padding: 10px 20px;
    }
    .site-main-nav .dropdown .dropdown li a {
        padding: 10px 25px;
    }
}

/*========Footer=========*/
.site-footer {
    background-color: #dbc5a9;
    position: relative;
}

.site-footer .footer-top {
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.21);
-moz-box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.21);
box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.21);
}

.site-footer address span {
    font-weight: 700;
    display: block;
}

.site-footer address .fas {
    font-size: 20px;
    margin-right: 10px;
    color: #ec212e;
}

.site-footer address a {
    display: inline-block;
    line-height: 1;
    background-color: #8c644d;
    padding: 7px 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
}

.site-footer address a:hover,
.site-footer address a:active {
    background-color: #784e37;
}

.site-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.site-footer ul li {
    flex: 0 1 50%;
    width: 50%;
    padding: 0 14px 4px 0;
}

.site-footer ul li a {
    display: block;
    line-height: 1;
    background-color: #f9edce;
    color: #000000;
    padding: 6px 10px;
    font-size: 15px;
    font-weight: 700;
}

.site-footer ul li a:hover,
.site-footer ul li a:active {
    background-color: #d6bf84;
}

.copyright {
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    padding: 10px 15px;
    background-color: #8c644d;
    text-align: center;
}
