body {
    background-color: #fcf9ea;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #000000;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    line-height: 1.3;
}

a {
    color: #000000;
    transition: all 300ms ease;
}

a:hover,
a:active {
    text-decoration: none;
    color: #cc0000;
}


.img-fluid {
    max-width: 100%;
}


.menu-toggle,
.menu-close {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 45px;
    height: 45px;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
    line-height: 45px;
    text-align: center;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    -webkit-transition: opacity 300ms cubic-bezier(.17, .67, .83, .67);
    -o-transition: opacity 300ms cubic-bezier(.17, .67, .83, .67);
    transition: opacity 300ms cubic-bezier(.17, .67, .83, .67);
}

.menu-active .overlay {
    opacity: 1;
    visibility: visible;
}

.site-main-content {
    background: url('../images/bg.jpg') no-repeat top left;
    background-size: cover;
}

.page-title {
    width: 100%;
    height: 250px;
    display: flex;
    background: url('../images/news-page-title.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.page-title .container {
    position: relative;
}

.page-title-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.page-title-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 10000px;
    height: 100%;
    background: rgba(236, 36, 46, 0.6);
    transform-origin: 100% 0;
  -webkit-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
  z-index: -1;
}

.page-title h1 {
    width: auto;
    min-width: 400px;
    font-size: 50px;
    margin: 0;
    position: relative;
    z-index: 2;
    color: #ffffff;
    line-height: 1;
    padding: 15px;
    font-weight: 400;
}

.page-title h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(236, 36, 46, 0.6);
    transform-origin: 100% 0;
  -webkit-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
  z-index: -1;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination .page-item a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    font-size: 18px;
    color: #070707;
    line-height: 1;
}

.pagination li:first-child a,
.pagination li:last-child a {
    font-size: 22px;
    color: #c7c7c7;
}

.pagination .page-item a:hover,
.pagination .current a {
    background-color: #ec212e;
    color: #ffffff;
}

.year-select {
    display: block;
    width: 280px;
    height: 45px;
    background-color: #ffffff;
    border:1px solid #cccbc8;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 2px 8px;
    margin-left: auto;
}


.page-sub-title {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-sub-title h2,
.page-sub-title .year-select {
    margin-bottom: 15px;
}

.page-sub-title h2 {
    font-size: 36px;
    color: #990000;
    position: relative;
    padding-left: 20px;
    border-left: 4px solid #ff6666;
    line-height: 1;
}

.page-sub-title .year-select {
    margin-left: 0;
}


/*=======Header========*/
.site-header {
    background-color: #5e332f;
    color: #ffffff;
    line-height: 1;
}

.site-header > .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-logo img {
    width: auto;
    max-height: 100px;
}

.moto {
    flex: 0 0 250px;
    line-height: 1.3;
}

.moto h4 {
    font-size: 18px;
    margin-bottom: 0;
}

.eclass-form {
    flex: 0 1 290px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.eclass-form .eclass-logo {
    padding-right: 10px;
}

.eclass-form input {
    width: 100%;
    max-width: 190px;
    height: 32px;
    background-color: #ffffff;
    border:1px solid #ffffff;
    padding: 7px;
    margin-bottom: 5px;
    font-size: 15px;
    color: #333333;
    font-weight: 700;
    outline: 0;
}

.eclass-form input::placeholder {
    color: #333333;
}

.eclass-form input:focus {
    border: 1px solid #000000;
}

.eclass-form .input-group {
    position: relative;
    overflow: hidden;
}

.eclass-form button {
    position: absolute;
    top: 0;
    right: -10px;
    width: auto;
    height: 32px;
    display: inline-block;
    padding: 0 20px 0 14px;
    font-size: 14px;
    color: #ffffff;
    font-size: 15px;
    background-color: #000000;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    border: none;
    transform: skewX(-25deg);
}

.eclass-form button span {
    display: block;
    transform: skewX(25deg);
}

.eclass-form button:hover {
    background-color: #cc0000;
}

.site-main-nav {
    background-color: #ec212e;
}

.site-main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-main-nav .nav-ul li a {
    display: block;
    font-family: 'Lora', sans-serif;
    font-size: 1rem;
    background-color: #ec212e;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
}
.site-main-nav .nav-ul .has-dropdown,
.site-main-nav .nav-ul .has-dropdown>a {
    position: relative;
}

.site-main-nav .nav-ul .has-dropdown>a::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.site-main-nav .nav-ul .dropdown li a {
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
}

.site-main-nav .nav-ul .dropdown li:last-child > a {
    border-bottom: none;
}

.site-main-nav .dropdown li a:hover,
.site-main-nav .dropdown li a:active {
    background-color: #045992;
    color: #ffffff;
}


@media screen and (min-width:1200px) {

    .site-header > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .site-logo .menu-toggle,
    .site-main-nav .menu-close {
        display: none;
    }

    .site-main-nav .nav-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
    }

    .site-main-nav .nav-ul li a {
        font-size: 18px;
    }
    .site-main-nav .nav-ul .has-dropdown>a {
        padding-right: 30px;
    }
    .site-main-nav .dropdown {
        position: absolute;
        min-width: 180px;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
        transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
        z-index: 100;
    }
    .site-main-nav .nav-ul .has-dropdown>a::after {
        right: 10px;
    }
    .site-main-nav .has-dropdown .has-dropdown>a::after {
        -webkit-transform: translateY(-50%) rotate(-90deg);
        -ms-transform: translateY(-50%) rotate(-90deg);
        transform: translateY(-50%) rotate(-90deg);
    }
    .site-main-nav .dropdown .dropdown {
        left: 100%;
        top: 0;
    }
    .site-main-nav .has-dropdown:hover>.dropdown {
        opacity: 1;
        visibility: visible;
    }

    .site-main-nav  .nav-ul > li > a {
        border-left: 1px dashed #ffffff;
        padding: 5px 25px;
    }
}

@media screen and (max-width:1199px) {
    .site-header .moto,
    .site-header .eclass-form {
        display: none;
    }

    .site-logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .site-logo a {
        flex: 0 1 auto;
        padding-right: 15px;
    }
    
    .site-logo .menu-toggle {
       margin-left: auto;
    }
    .site-main-nav {
        position: fixed;
        width: 300px;
        height: 100%;
        top: 0;
        left: -330px;
        z-index: 1000;
        -webkit-transition: left 400ms cubic-bezier(.42, 0, .58, 1);
        -o-transition: left 400 cubic-bezier(.42, 0, .58, 1);
        -o-transition: left 400ms cubic-bezier(.42, 0, .58, 1);
        transition: left 400ms cubic-bezier(.42, 0, .58, 1);
    }
    .site-main-nav.show {
        left: 0;
    }
    .site-main-nav .menu-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
    .site-main-nav .container {
        padding: 0;
    }
    .site-main-nav .nav-ul {
        margin-top: 45px;
        border-top: 1px solid #e5f2fb69;
    }
    .site-main-nav .nav-ul li a {
        border-bottom: 1px solid #e5f2fb69;
    }
    .site-main-nav .has-dropdown>a::after {
        -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        -o-transition: transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease;
    }
    .site-main-nav .has-dropdown>a.active::after {
        -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
    }
    .site-main-nav .dropdown {
        display: none;
    }
    .site-main-nav .dropdown li a {
        padding: 10px 20px;
    }
    .site-main-nav .dropdown .dropdown li a {
        padding: 10px 25px;
    }
}

/*========Footer=========*/
.site-footer {
    background-color: #dbc5a9;
    position: relative;
}

.site-footer .footer-top {
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.21);
-moz-box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.21);
box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.21);
}

.site-footer address span {
    font-weight: 700;
    display: block;
}

.site-footer address .fas {
    font-size: 20px;
    margin-right: 10px;
    color: #ec212e;
}

.site-footer address a {
    display: inline-block;
    line-height: 1;
    background-color: #8c644d;
    padding: 7px 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
}

.site-footer address a:hover,
.site-footer address a:active {
    background-color: #784e37;
}

.site-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.site-footer ul li {
    flex: 0 1 50%;
    width: 50%;
    padding: 0 14px 4px 0;
}

.site-footer ul li a {
    display: block;
    line-height: 1;
    background-color: #f9edce;
    color: #000000;
    padding: 6px 10px;
    font-size: 15px;
    font-weight: 700;
}

.site-footer ul li a:hover,
.site-footer ul li a:active {
    background-color: #d6bf84;
}

.copyright {
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    padding: 10px 15px;
    background-color: #8c644d;
    text-align: center;
}



/*==========Home==========*/
.content-block {
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.11);
    margin-bottom: 30px;
}

.content-block .title {
    position: relative;
    padding: 10px;
    overflow: hidden;
}

.content-block .title::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:-30px;
    background: rgba(161,3,6,1);
background: -moz-linear-gradient(left, rgba(161,3,6,1) 0%, rgba(236,33,47,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(161,3,6,1)), color-stop(100%, rgba(236,33,47,1)));
background: -webkit-linear-gradient(left, rgba(161,3,6,1) 0%, rgba(236,33,47,1) 100%);
background: -o-linear-gradient(left, rgba(161,3,6,1) 0%, rgba(236,33,47,1) 100%);
background: -ms-linear-gradient(left, rgba(161,3,6,1) 0%, rgba(236,33,47,1) 100%);
background: linear-gradient(to right, rgba(161,3,6,1) 0%, rgba(236,33,47,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a10306', endColorstr='#ec212f', GradientType=1 );
transform:skewX(-30deg);
}

.content-block .title h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    z-index: 2;
    font-size: 25px;
}

.content-block .title h2 img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-height: 26px;
    margin-right: 10px;
}

.content-block .content {
    padding: 10px;
}

.content-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-block ul li {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    padding-right: 100px;
    padding-left: 10px;
    line-height: 1.3;
    margin-bottom: 10px;
}

.content-block ul li::before {
    content: '';
    display: block;
    position: absolute;
    top:50%;
    left: 0;
    width: 0; 
    height: 0;
    transform: translateY(-50%); 
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #a20305;
}

.content ul li a {
    display: block;
}

.content ul li span {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.content-block .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 10px 10px 10px;
}

.content-block .read-more {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    background-color: #ffffff;
    color: #c31017;
    text-transform: uppercase;
}

.content-block .read-more:hover {
    color: #000000;
}

.content-block.v2 .content {
    padding: 20px 20px 30px 20px;
}

.content-block .featured-item {
    position: relative;
    width: 100%;
    height: 340px;
    background: url('../images/thumb-3.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 15px;
}

.content-block .featured-item .item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    padding: 15px 10px;
    line-height: 1.1;
    transition: background-color 300ms ease;
}

.content-block .featured-item:hover .item-info {
    background-color: rgba(0,0,0,0.8);
}

.content-block .featured-item a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.content-block .featured-item h3 {
    margin: 0;
    font-size:18px;
    font-weight: 400;
    color: #ffffff;
}

.lt-event-item {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #e1cab9;
}

.lt-event-item .item-thumb,
.lt-event-item .item-content {
    margin-bottom: 10px;
}

.lt-event-item .item-thumb a,
.lt-event-item .item-thumb img {
    display: block;
}

.lt-event-item .item-thumb {
    position: relative;
    overflow: hidden;
    background-color: #000000;
}

.lt-event-item .item-thumb img {
    width: 100%;
    opacity: 1;
    transform: scale(1);
    transition: transform 300ms ease, opacity 300ms ease;
}

.lt-event-item .item-thumb:hover img {
    transform: scale(1.1);
    opacity: 0.7;
}

.lt-event-item .date {
    font-size: 19px;
    display: block;
    color: #9e7f6e;
}

.lt-event-item h3 {
    font-size: 16px;
}

.user-links a {
    display: inline-block;
    margin-bottom: 8px;
    transition: box-shadow 300ms ease;
}

.user-links a:hover {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.12);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.12);
}

/*==========News==========*/

.news-item {
border-bottom: 1px solid #8f664f;
margin-bottom: 22px;
}

.news-item .item-thumb,
.news-item .item-content,
.news-item .read-more {
margin-bottom: 22px;
}

.news-item .item-thumb {
position: relative;
background-color: #000000;
overflow: hidden;
}

.news-item .item-thumb img {
width: 100%;
opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
-webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
transition: opacity 300ms ease, -webkit-transform 300ms ease;
-o-transition: opacity 300ms ease, transform 300ms ease;
transition: opacity 300ms ease, transform 300ms ease;
transition: opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
}

.news-item .item-thumb:hover img {
opacity: 0.6;
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}

.news-item h3 {
font-weight: 400;
margin-bottom: 9px;
}

.news-item h3 a {
    color: #8f664f;
}

.news-item h3 a:hover {
    color: #000000;
}

.news-item p {
margin-bottom: 0;
}

.news-item .date {
display: block;
color: #000000;
line-height: 1;
font-size: 18px;
margin-bottom: 12px;
}

.news-item .read-more {
display: block;
font-weight: 400;
font-size: 15px;
border: 1px solid #8f664f;
color: #8f664f;
padding: 11px 12px;
text-align: center;
}

.news-item .read-more:hover {
background-color: #8f664f;
color: #ffffff;
}

.news-single {
    padding: 0 15px;
}

.news-single .date,
.event-single-top .date {
    display: block;
    color: #333333;
    line-height: 1;
    font-size: 18px;
    margin-bottom: 5px;
}

.news-single .news-single-title {
    font-size: 28px;
    position: relative;
    font-weight: 400;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color:#8f664f;
}

.news-single .news-single-title::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -15px;
    width: calc(100% + 30px);
    height: 3px;
    background-color: #ce1e19;
    z-index: 1;
}


/*=========Albums==========*/

.side-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-nav ul li {
    padding: 15px 0;
    border-bottom: 1px dashed #ff3333;
}

.side-nav ul li a {
    display: inline-block;
    position: relative;
    font-weight: 700;
    color: #000000;
    line-height: 1.3;
    padding-left: 25px;
    font-size: 16px;
}

.side-nav ul li a::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 1;
    border: 1px solid #ff3333;
    color: #ff3333;
    border-radius: 50%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
}

.side-nav ul li a:hover {
    color: #ff3333;
}

.sidenav-toggle {
    width: 100%;
    line-height: 1;
    font-weight: 700;
    background-color: #ff3333;
    color: #ffffff;
    font-family: 'Lora', sans-serif;
    border: none;
    padding: 14px;
    text-align: left;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 20px;
}

.sidenav-toggle .fas {
    margin-right: 7px;
}


.album-item {
    position: relative;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.11);
}

.album-item .item-thumb {
    position: relative;
    overflow: hidden;
    background-color: #000000;
    margin-bottom: 10px;
}

.album-item .item-thumb img {
    width: 100%;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.album-item .item-thumb:hover img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.album-item .date {
    display: inline-block;
    font-size: 14px;
    background-color: #ffffff;
    color: #8c644d;
    line-height: 1;
    padding:0;
    z-index: 10;
}

.album-item h3 {
    font-size: 15px;
}


.album-image-gallery img,
.album-gallery-thumbs img {
    max-width: 100%;
}

.album-image-gallery .slick-arrow,
.album-gallery-thumbs .slick-arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #ff6666;
    color: #ffffff;
    font-size: 30px;
    line-height: 45px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    z-index: 100;
}

.album-image-gallery .slick-arrow:hover {
    background-color: #d63232;
}

.album-image-gallery .slick-arrow.prev,
.album-gallery-thumbs .slick-arrow.prev {
    left: 0;
}

.album-image-gallery .slick-arrow.next,
.album-gallery-thumbs .slick-arrow.next {
    right: 0;
}

.album-gallery-thumbs .slick-arrow {
    border-radius: 0;
    background: transparent;
    color: #ff6666;
}

.album-gallery-thumbs .slick-arrow:hover {
    color: #d63232;
}

.album-gallery-thumbs .slick-list {
    margin: 0 -5px;
}

.album-gallery-thumbs .slick-slide {
    padding: 0 5px;
}


/*=========School-calendar=======*/
#calendar {
    max-width: 900px;
    margin: 0 auto 30px auto;
}

#calendar .fc-view-container {
    max-width: 700px;
    margin:  0 auto;
}

#calendar .fc-view {
    background: #fbfee7;
}

#calendar .fc-today {
    background: #f1f5da;
}

#calendar .fc-toolbar {
    position: relative;
    padding: 5px;
}

#calendar .fc-toolbar::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #cd3538;
    z-index: 1;
}

#calendar .fc-toolbar h2 {
    font-family: 'Lora', Arial, sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    position: relative;
    z-index: 3;
}

#calendar .fc-toolbar .fc-right {
    position: relative;
    z-index: 3;
    margin-right: 50px;
}

#calendar .fc-toolbar .fc-button {
    background: #ffffff;
    background: -o-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9e9e9));
    background: linear-gradient(to bottom, #ffffff 0%, #e9e9e9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0);
    border-color: #e7e7e7;
    color: #000000;
    padding: 3px 10px;
}

#calendar .fc-toolbar .fc-button:hover,
.fc-toolbar .fc-button:active {
    border-color: #e7e7e7;
    color: #000000;
    background: #e9e9e9;
    /* Old browsers */
    background: -o-linear-gradient(top, #e9e9e9 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#ffffff));
    background: linear-gradient(to bottom, #e9e9e9 0%, #ffffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#ffffff', GradientType=0);
}

#calendar .fc-toolbar .fc-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#calendar .fc-event {
    background: #19b376;
    border: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 0.91rem;
}

.events-list h3 {
    font-size: 35px;
    color: #990000;
    font-weight: 700;
    margin-bottom: 15px;
}

.event-item {
    background-color: #ffffff;
    padding: 15px;
    line-height: 1.3;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.11);
}

.event-item .date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 15px;
    color: #990000;
    border:1px solid #e2d8d2;
    padding: 10px;
}

.event-item .date span {
    display: block;
    font-size: 19px;
}

.event-item h4 {
    font-size: 19px;
}

.event-item h4 a {
    color: #cd3538;
}

.event-item h4 a:hover,
.event-item h4 a:active {
    color: #000000;
}

.event-item p {
    font-size: 15px;
}

.event-item .item-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-item .item-links a {
    display: inline-block;
    line-height: 1;
    background-color: #cd3538;
    color: #ffffff;
    padding: 7px 15px;
    font-size: 15pxs;
    margin: 0 15px 15px 0;
}

.event-item .item-links a:hover,
.event-item .item-links a:active {
    background-color: #000000;
}

@media screen and (min-width:576px) {
    .lt-event-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .lt-event-item .item-thumb {
        flex: 0 0 140px;
        width: 140px;
    }

    .lt-event-item .item-content {
        padding-left: 15px;
        flex: 1 1 auto;
    }

    .album-image-gallery,
    .album-gallery-thumbs {
        padding: 0 55px;
    }
}

@media screen and (min-width:768px) {
    .row.custom .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row.custom .col-md-5 {
        flex: 0 0 44%;
        max-width: 44%;
    }

    .row.custom .col-md-4 {
        flex: 0 0 31%;
        max-width: 31%;
    }

    .page-title {
        height: 400px;
    }

    .sidenav-toggle,
    .side-nav .menu-close {
        display: none;
    }

    #calendar .fc-toolbar::before {
        transform: skewX(-30deg);
    }

    .event-item .date {
        border-width: 0 1px 0 0;
        margin-bottom: 0;
    }

    .event-item .item-links {
        text-align: right;
    }

    .event-item .item-info {
        padding:  0 30px;
    }
}

@media screen and (min-width:992px) {
    .page-sub-title {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .page-sub-title h2,
    .page-sub-title .year-select {
        margin-bottom: 0;
    }

    .page-sub-title .year-select {
        margin-left: auto;
    }

}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1200px;
    }
}



@media screen and (max-width:767px) {
    .side-nav {
        position: fixed;
        width: 300px;
        height: 100%;
        top: 0;
        left: -330px;
        z-index: 1000;
        background-color: #ffffff;
        -webkit-transition: left 400ms cubic-bezier(.42, 0, .58, 1);
        -o-transition: left 400 cubic-bezier(.42, 0, .58, 1);
        -o-transition: left 400ms cubic-bezier(.42, 0, .58, 1);
        transition: left 400ms cubic-bezier(.42, 0, .58, 1);
    }
    .side-nav.show {
        left: 0;
    }
    .side-nav ul {
        padding-top: 45px;
    }
    .side-nav ul li {
        padding: 0;
    }
    .side-nav ul li:first-child {
        border-top: 2px dashed #ff3333;
    }
    .side-nav ul li a {
        display: block;
        padding: 15px 15px 15px 40px;
    }
    .side-nav ul li a::before {
        left: 15px;
    }
    .side-nav .menu-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}